streamlit==1.57.0
tornado==6.4
numpy<2
pillow
opencv-python-headless
pandas
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
streamlit-webrtc==0.64.6
av==16.1.0
